@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --canvas: #D2E6EE;

  --surface: #FDEEE6;
  --surface-dim: #FFE8DA;

  --primary: #EA7A54;
  --accent: #E4572E;
  --accent-dark: #D96841;

  --fg: #1E293B;
  --fg-muted: black;

  --success: #10B981;
  --success-dark: #059669;
  --danger: #EF4444;
  --danger-dark: #DC2626;
}

body {
  margin: 0;
  background: var(--canvas);
  color: var(--fg);
font-family: Arial, Helvetica, sans-serif;}

.font-display {
font-family: Arial, Helvetica, sans-serif;
}
